@font-face {
    font-family: 'SF-Pro Light';
    src: url('Fonts/SF-Pro-Display-Light.otf') format('opentype');
  }

  @font-face {
    font-family: 'SF-Pro Regular';
    src: url('Fonts/SF-Pro-Display-Regular.otf') format('opentype');
  }

body {
    font-family: 'Sf-Pro Regular', sans-serif;
    background-color: black;
    color: white;
    font-size: 60px;
}

.row {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}

.result {
    margin: 0 auto;
    margin-top: 160px;
    width: 510px;
    margin-bottom: 20px;
}

button {
    font-family: 'SF-Pro Regular';
    font-size: 60px;
    border: 0;
    height: 120px;
    width: 120px;
    border-radius: 400px;
}

.zero {
    width: 260px;
    text-align: left;
    padding-left: 40px;
}

.gray {
    background-color: #A5A5A5;
    color: black;
}

.orange {
    background-color: #FF9F0A;
    color: white;
    font-weight: 700;
}

#number {
    background-color: #343434;
    color: white;
}

#multiply {
    font-size: 46px;
}

#divide {
    font-size: 70px;
    font-weight: 100;
}

.result {
    font-family: 'SF-Pro Light';
    font-size: 140px;
    font-weight: 100;
    text-align: right;
}

button.clicked {
    animation: colorChange 1s forwards;
}

@keyframes colorChange {
    from {
    background-color: #ffffff;
    }
    to {
    background-color: auto;
    }
}